body {
    background-image: url("img.jpg");
    background-size: cover; 
    color: white; /* Ensure text is white or another color that contrasts with the background */
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 4.5em; /* Adjust the size as needed */
    color: white; /* Ensure the color is visible against the background */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 10px;
    border-radius: 5px;

}

.searchBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.searchBox:hover > .searchInput,
.searchBox:focus-within > .searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton,
.searchBox:focus-within > .searchButton {
    background: white;
    color: #2f3640;
}

.searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

@media screen and (max-width: 620px) {
    .searchBox:hover > .searchInput,
    .searchBox:focus-within > .searchInput {
        width: 150px;
        padding: 0 6px;
    }
}
