<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEO Analyzer</title>
    <link rel="stylesheet" href="/style/mainPage.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="searchBox">
        <input id="searchInput" class="searchInput" type="text" placeholder="Analyze Website">
        <button id="searchButton" class="searchButton">
            <i class="material-icons">search</i>
        </button>
    </div>
    <script src="script.js"></script>
</body>
</html>
